/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
:root {
  --aec-color-primary: #000;
  --aec-color-secondary: #00af9a;
  --aec-color-accent: #0099ff;
  --aec-color-accent-alt: #211747;
  --aec-color-white: #fff;
}

.aec-admin-wrap {
  font-family: Roboto, sans-serif;
  margin-top: 24px;
}

.aec-admin-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.aec-notices-attractor {
  margin: 0 !important;
  padding: 0 !important;
}

.aec-admin-header--aec {
  background: #00af9a;
  background: var(--aec-color-secondary);
}

.aec-admin-header__brand {
  margin: 24px 16px 24px 24px;
}

.aec-admin-header__title {
  font-family: FoundersGrotesk, serif;
  font-size: 20px;
  color: #fff;
  color: var(--aec-color-white);
}

.aec-admin-header__version {
  margin-left: auto;
  display: block;
  color: #fff;
  color: var(--aec-color-white);
  padding: 0 24px;
}

.aec-admin-container {
  box-sizing: border-box;
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #d2d2d2;
  background-color: #ffffff;
  background-color: var(--aec-color-white);
  padding: 32px;
  margin-top: 16px;
}

.aec-admin-container--setup {
  border: solid 1px #d2d2d2;
  background-image: url("../img/bg-aec.png");
  background-position: center;
  background-size: cover;
  padding: 32px;
}

.aec-admin-container__title {
  width: 100%;
  padding: 16px 0;
  border-bottom: 1px solid #d2d2d2;
  font-family: FoundersGrotesk, serif;
  font-size: 24px;
  color: #191919;
}

.aec-admin-form-table tr {
  border-bottom: 1px solid #d2d2d2;
}

.aec-admin-button {
  border-radius: 3px;
  text-decoration: none;
  text-shadow: none;
  display: inline-block;
  font-size: 14px;
  margin: 0;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
}

.aec-admin-button--primary {
  background: #0099ff;
  background: var(--aec-color-accent);
  color: #fff;
  color: var(--aec-color-white);
}

.aec-admin-button--primary:focus,
.aec-admin-button--primary:hover {
  background: #211747;
}

.aec-admin-button--form {
  margin-top: 16px;
}

.aec-shortcode-description {
  background: #f5f5f5;
  padding: 8px;
}

.aec-shortcode-description__list {
  margin: 0;
}

.aec-admin-setup-form {
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  background-color: var(--aec-color-white);
  padding: 32px 24px;
  margin-top: 16px;
  width: 100%;
  max-width: 300px;
}

.aec-admin-setup-form__brand {
  height: 40px;
}

.aec-admin-setup-form_heading {
  font-size: 30px;
  font-weight: 700;
  color: #0f004b;
  margin-top: 32px;
}

.aec-admin-setup-form__subheading {
  font-size: 14px;
  color: #707070;
  margin-bottom: 24px;
}

.aec-admin-form-group {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.aec-admin-form-label {
  color: #000;
  font-size: 14px;
}

.aec-admin-form-input {
  margin-top: 8px;
  border: 1px solid #bbbbbb;
  border-radius: 3px;
}

.aec-admin-form__footer {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
